
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* comon styles */
.display-flex{
    display: flex;
}
/* shared style */
/* color2 */
.color-2{
    color: #424242;
}
/* color3 */
.color-3{
    color: #727272;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    height: 64px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
}
main > section{
    margin-top:130px;
}

/* navbar styles */
.navbar, .banner{
    justify-content: space-between;
    align-items: center;
    
}
.brand, .feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    
}
.navbar, .banner,.teams, .some-facts {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.image-banner{
    max-width: 100%;
}
/* teams and features style */
.teams{
    align-items: center;
    margin-top: 50px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    margin-left: 73px;
    max-width: 530px;
}

.our{
    font-weight: 700;
}
.clr{
    color: #FF900E;
}
.btn{
    margin-top: 32px;
}
.feature-title{
    margin-bottom: 24px;

}
/* features styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-description{
    max-width: 542px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}
.fact-number{
    font-size: 45px;
    font-weight: 600;
}
.fact-name{
    font-size: 20px;
    font-weight: 600;
}


/* responsive media quary */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .features{
        margin-left: 20px;
    }
    .image-container{
        grid-template-columns: repeat(1, 1fr);
}
}
/* medium size screeen */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
}