
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* comon styles */
.display-flex{
    display: flex;
}
/* shared style */
/* color2 */
.color-2{
    color: #424242;
}
/* color3 */
.color-3{
    color: #727272;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    height: 64px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
}
main > section{
    margin-top:130px;
}

/* navbar styles */
.navbar, .banner{
    justify-content: space-between;
    align-items: center;
    
}
.brand, .feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    
}
.navbar, .banner,.teams  {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.image-banner{
    max-width: 100%;
}
/* teams and features style */
.teams{
    align-items: center;
    margin-top: 50px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    margin-left: 73px;
    max-width: 530px;
}

.our{
    font-weight: 700;
}
.clr{
    color: #FF900E;
}
.btn{
    margin-top: 32px;
}
.feature-title{
    margin-bottom: 24px;

}
/* experiance title */
.experiance{
    max-width: 1440px;
    margin: 130px auto;
    gap: 130px;
}
#experiance-description{
    margin-bottom: 30px;
}
.experiance-card  .experiance-title{
    font-weight: 600;
    font-size: 1.25rem;
   
}
.experiance-card{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
}
.experiance-badge{
    background-color: #FF900E;
    border-radius: 8px;
    height: 150px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px;
    margin-top: -77px  ;
    margin-left: -92px;
    border: none;
}
.years{
    font-size:4rem;
    color: white;
    
}
.paragraph{
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
    
}
.experiance-architect{
    width: 100%;
}

#sign{
    border-left:5px solid #FF900E ;
    padding-left: 21px;}
/* features styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-description{
    max-width: 542px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    /* height: 240px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    line-height: 1px;
    padding-top: 10px;
}
.fact-number{
    font-size: 45px;
    font-weight: 600;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}
.fact-icon{
    margin-top: 5px;
}
.some-facts{
    max-width: 1440px;
    margin: 0 auto;
}
.our-sponsor{
    max-width: 1440px;
    margin: 50px auto;
    /* background-color: aqua; */
    /* justify-content: center;
    align-items: center;
    display: flex; */
    text-align: center;
    margin-top: 180px;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
}
.sponsor-company img{
    filter: grayscale(100%);
}


/* responsive media quary */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams, 
    .experiance {
        flex-direction: column;
    }
    .features{
        margin-left: 20px;
    }
    .experiance-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .image-container{
        grid-template-columns: repeat(1, 1fr);  
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    /* sponsor section */
    .sponsor-info{
        max-width: 540px;
        margin: 50px auto;
    }
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .sponsor-company{
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
    }
}
/* medium size screeen */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 40px;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;

    }
}